In [64]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from IPython.display import Image

# enables inline plots, without it plots don't show up in the notebook
%matplotlib inline

df = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_170624.txt")

dfex = df.iloc[0:1000]

**Master**

In [65]:
df = pd.read_csv("http://web.mta.info/developers/data/nyct/turnstile/turnstile_170624.txt")

columns = ['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME', 'DESC',
           'ENTRIES', 'EXITS']

df.columns = columns

dfex.columns = columns
cols = ['C/A', 'UNIT', 'STATION', 'SCP', 'LINENAME', 'DIVISION', 'DATE', 'TIME', 'DESC',
           'ENTRIES', 'EXITS']
dfex = dfex.loc[:, cols]
dfex = df.iloc[0:1000]

**Challenge 1**

In [ ]:

dfex

In [9]:
dfex.columns

Index(['C/A', 'UNIT', 'SCP', 'STATION', 'LINENAME', 'DIVISION', 'DATE', 'TIME',
       'DESC', 'ENTRIES',
       'EXITS                                                               '],
      dtype='object')

In [106]:
from collections import defaultdict


dct = defaultdict(list)

for index, row in df.iterrows():    
       
    dct[(row['C/A'], row['UNIT'], row['SCP'], row['STATION'])].append(
                [row['LINENAME'], row['DIVISION'], row['DATE'], row['TIME'],
                 row['DESC'], row['ENTRIES'], 
                 row['EXITS                                                               ']
                ])

In [100]:
dct[('A002','R051','02-00-00','59 ST')]

[['NQR456W', 'BMT', '06/17/2017', '00:00:00', 'REGULAR', 6224816, 2107317],
 ['NQR456W', 'BMT', '06/17/2017', '04:00:00', 'REGULAR', 6224850, 2107322],
 ['NQR456W', 'BMT', '06/17/2017', '08:00:00', 'REGULAR', 6224885, 2107352],
 ['NQR456W', 'BMT', '06/17/2017', '12:00:00', 'REGULAR', 6225005, 2107452],
 ['NQR456W', 'BMT', '06/17/2017', '16:00:00', 'REGULAR', 6225248, 2107513],
 ['NQR456W', 'BMT', '06/17/2017', '20:00:00', 'REGULAR', 6225548, 2107565],
 ['NQR456W', 'BMT', '06/18/2017', '00:00:00', 'REGULAR', 6225716, 2107586],
 ['NQR456W', 'BMT', '06/18/2017', '04:00:00', 'REGULAR', 6225741, 2107590],
 ['NQR456W', 'BMT', '06/18/2017', '08:00:00', 'REGULAR', 6225762, 2107607],
 ['NQR456W', 'BMT', '06/18/2017', '12:00:00', 'REGULAR', 6225879, 2107676],
 ['NQR456W', 'BMT', '06/18/2017', '16:00:00', 'REGULAR', 6226063, 2107714],
 ['NQR456W', 'BMT', '06/18/2017', '20:00:00', 'REGULAR', 6226295, 2107755],
 ['NQR456W', 'BMT', '06/19/2017', '00:00:00', 'REGULAR', 6226407, 2107778],
 ['NQR456W', 'BMT', '06/19/2017', '04:00:00', 'REGULAR', 6226413, 2107779],
 ['NQR456W', 'BMT', '06/19/2017', '08:00:00', 'REGULAR', 6226460, 2107870],
 ['NQR456W', 'BMT', '06/19/2017', '12:00:00', 'REGULAR', 6226625, 2108117],
 ['NQR456W', 'BMT', '06/19/2017', '16:00:00', 'REGULAR', 6226906, 2108190],
 ['NQR456W', 'BMT', '06/19/2017', '20:00:00', 'REGULAR', 6227611, 2108288],
 ['NQR456W', 'BMT', '06/20/2017', '00:00:00', 'REGULAR', 6227770, 2108316],
 ['NQR456W', 'BMT', '06/20/2017', '04:00:00', 'REGULAR', 6227785, 2108321],
 ['NQR456W', 'BMT', '06/20/2017', '08:00:00', 'REGULAR', 6227837, 2108448],
 ['NQR456W', 'BMT', '06/20/2017', '12:00:00', 'REGULAR', 6228001, 2108732],
 ['NQR456W', 'BMT', '06/20/2017', '16:00:00', 'REGULAR', 6228295, 2108798],
 ['NQR456W', 'BMT', '06/20/2017', '20:00:00', 'REGULAR', 6229118, 2108869],
 ['NQR456W', 'BMT', '06/21/2017', '00:00:00', 'REGULAR', 6229332, 2108905],
 ['NQR456W', 'BMT', '06/21/2017', '04:00:00', 'REGULAR', 6229347, 2108906],
 ['NQR456W', 'BMT', '06/21/2017', '08:00:00', 'REGULAR', 6229394, 2109010],
 ['NQR456W', 'BMT', '06/21/2017', '12:00:00', 'REGULAR', 6229553, 2109269],
 ['NQR456W', 'BMT', '06/21/2017', '16:00:00', 'REGULAR', 6229829, 2109341],
 ['NQR456W', 'BMT', '06/21/2017', '20:00:00', 'REGULAR', 6230582, 2109401],
 ['NQR456W', 'BMT', '06/22/2017', '00:00:00', 'REGULAR', 6230793, 2109424],
 ['NQR456W', 'BMT', '06/22/2017', '04:00:00', 'REGULAR', 6230811, 2109428],
 ['NQR456W', 'BMT', '06/22/2017', '08:00:00', 'REGULAR', 6230853, 2109532],
 ['NQR456W', 'BMT', '06/22/2017', '12:00:00', 'REGULAR', 6230992, 2109785],
 ['NQR456W', 'BMT', '06/22/2017', '16:00:00', 'REGULAR', 6231237, 2109833],
 ['NQR456W', 'BMT', '06/22/2017', '20:00:00', 'REGULAR', 6231957, 2109898],
 ['NQR456W', 'BMT', '06/23/2017', '00:00:00', 'REGULAR', 6232184, 2109920],
 ['NQR456W', 'BMT', '06/23/2017', '04:00:00', 'REGULAR', 6232214, 2109925],
 ['NQR456W', 'BMT', '06/23/2017', '08:00:00', 'REGULAR', 6232261, 2110012],
 ['NQR456W', 'BMT', '06/23/2017', '12:00:00', 'REGULAR', 6232419, 2110275],
 ['NQR456W', 'BMT', '06/23/2017', '16:00:00', 'REGULAR', 6232792, 2110350],
 ['NQR456W', 'BMT', '06/23/2017', '20:00:00', 'REGULAR', 6233500, 2110410]]

In [234]:
dfex_groups = dfex.groupby(['C/A', 'UNIT', 'SCP', 'STATION'])

In [97]:
df_groups = df.groupby(['C/A', 'UNIT', 'SCP', 'STATION'])

df_groups()

<pandas.core.groupby.DataFrameGroupBy object at 0x117a63320>

**Challenge 2**

In [193]:
dfex.loc[:,('DATE','DATETIME')]

          DATE  DATETIME
0   06/17/2017       NaN
1   06/17/2017       NaN
2   06/17/2017       NaN
3   06/17/2017       NaN
4   06/17/2017       NaN
5   06/17/2017       NaN
6   06/18/2017       NaN
7   06/18/2017       NaN
8   06/18/2017       NaN
9   06/18/2017       NaN
10  06/18/2017       NaN
11  06/18/2017       NaN
12  06/19/2017       NaN
13  06/19/2017       NaN
14  06/19/2017       NaN
15  06/19/2017       NaN
16  06/19/2017       NaN
17  06/19/2017       NaN
18  06/20/2017       NaN
19  06/20/2017       NaN

pandas.core.frame.DataFrame

In [231]:
dfex['DATETIME']=pd.to_datetime(dfex.DATE+dfex.TIME, format='%m/%d/%Y%H:%M:%S')

/Users/allandong/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [227]:
df['DATETIME']=pd.to_datetime(df.DATE+df.TIME, format='%m/%d/%Y%H:%M:%S')

In [232]:
dfex.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/17/2017,00:00:00,REGULAR,6224816,2107317,2017-06-17 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/17/2017,04:00:00,REGULAR,6224850,2107322,2017-06-17 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/17/2017,08:00:00,REGULAR,6224885,2107352,2017-06-17 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/17/2017,12:00:00,REGULAR,6225005,2107452,2017-06-17 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/17/2017,16:00:00,REGULAR,6225248,2107513,2017-06-17 16:00:00

In [199]:
df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATETIME
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/17/2017,00:00:00,REGULAR,6224816,2107317,2017-06-17 00:00:00
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/17/2017,04:00:00,REGULAR,6224850,2107322,2017-06-17 04:00:00
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/17/2017,08:00:00,REGULAR,6224885,2107352,2017-06-17 08:00:00
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/17/2017,12:00:00,REGULAR,6225005,2107452,2017-06-17 12:00:00
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/17/2017,16:00:00,REGULAR,6225248,2107513,2017-06-17 16:00:00

**Challenge 3**

In [111]:
station_groups = df.groupby()

station_groups.sum()

,ENTRIES,EXITS
STATION,,
1 AV,111881193233,67585903519
103 ST,6054778730,24917640041
103 ST-CORONA,2969928972,2766412385
104 ST,197162774704,142861035447
110 ST,1310853452,1286925905
111 ST,4908446566,2609526632
116 ST,75300227625,91084180020
116 ST-COLUMBIA,51083104368,10889381888
121 ST,320029694,253243896
125 ST,290762861560,165903924583
135 ST,10478887946,1944204894
137 ST CITY COL,10295556674,37030096890
138/GRAND CONC,41902235453,40460088832
14 ST,166097179819,120148553136
14 ST-UNION SQ,45902781756,13050459642
145 ST,39016247763,82520921724
149/GRAND CONC,13027910477,8622868542
14TH STREET,55287203,110769708
15 ST-PROSPECT,14601665556,237985770
155 ST,1407573804,1058865170
157 ST,1483961921,934215920
161/YANKEE STAD,85283224402,56021877749
163 ST-AMSTERDM,82795651386,28397536655
167 ST,80170946270,38371880208
168 ST,6201266866,2878223454
169 ST,1106269369,1111863105
170 ST,49587792224,101646536961
174 ST,29984995635,13384771200
174-175 STS,753913938,478464629
175 ST,15826757965,12859016438
...,...,...
SUTPHIN-ARCHER,9563584643,4057966207
SUTTER AV,38542634,12879448
SUTTER AV-RUTLD,1293661864,753336845
THIRTY ST,267542103,279293275
THIRTY THIRD ST,417700215,297323492
TIMES SQ-42 ST,244116783453,188800262289
TOMPKINSVILLE,390089443,104182596
TREMONT AV,5550737982,550604851
TWENTY THIRD ST,140293834,110171433
UNION ST,951305574,977640864
UTICA AV,8309469145,2293217412
V.CORTLANDT PK,814586299,334482698
VAN SICLEN AV,1159925839,988410789
VAN SICLEN AVE,491814865,506521094
VERNON-JACKSON,1611288224,1113465929
W 4 ST-WASH SQ,15990568390,6042554331
W 8 ST-AQUARIUM,500696457,535925912
WAKEFIELD/241,778774165,804283496
WALL ST,27591126304,16305437353
WEST FARMS SQ,20080165314,3220843533
WESTCHESTER SQ,1090256238,1006996883
WHITEHALL S-FRY,11879759006,2892566278
WHITLOCK AV,9412277855,916702459
WILSON AV,685160119,615613800
WINTHROP ST,1002229976,216945895
WOODHAVEN BLVD,7064262987,4186008491
WOODLAWN,1341560952,527746511
WORLD TRADE CTR,1635604575,794361373
YORK ST,1513132304,1323182636
ZEREGA AV,2259877613,47746076

In [296]:
# dfex['Entries_per_day'] = dfex.loc[(dfex['TIME'] == '00:00:00') & (dfex['SCP'] == '02-00-00'), 'ENTRIES']
df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,TIMEDIFF_ENTRIES
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/17/2017,00:00:00,REGULAR,6224816,2107317,NaN
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/17/2017,04:00:00,REGULAR,6224850,2107322,NaN
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/17/2017,08:00:00,REGULAR,6224885,2107352,NaN
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/17/2017,12:00:00,REGULAR,6225005,2107452,NaN
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/17/2017,16:00:00,REGULAR,6225248,2107513,NaN
5,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/17/2017,20:00:00,REGULAR,6225548,2107565,NaN
6,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/18/2017,00:00:00,REGULAR,6225716,2107586,900.0
7,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/18/2017,04:00:00,REGULAR,6225741,2107590,891.0
8,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/18/2017,08:00:00,REGULAR,6225762,2107607,877.0
9,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/18/2017,12:00:00,REGULAR,6225879,2107676,874.0
10,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/18/2017,16:00:00,REGULAR,6226063,2107714,815.0
11,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/18/2017,20:00:00,REGULAR,6226295,2107755,747.0
12,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/19/2017,00:00:00,REGULAR,6226407,2107778,691.0
13,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/19/2017,04:00:00,REGULAR,6226413,2107779,672.0
14,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/19/2017,08:00:00,REGULAR,6226460,2107870,698.0
15,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/19/2017,12:00:00,REGULAR,6226625,2108117,746.0
16,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/19/2017,16:00:00,REGULAR,6226906,2108190,843.0
17,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/19/2017,20:00:00,REGULAR,6227611,2108288,1316.0
18,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/20/2017,00:00:00,REGULAR,6227770,2108316,1363.0
19,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/20/2017,04:00:00,REGULAR,6227785,2108321,1372.0
20,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/20/2017,08:00:00,REGULAR,6227837,2108448,1377.0
21,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/20/2017,12:00:00,REGULAR,6228001,2108732,1376.0
22,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/20/2017,16:00:00,REGULAR,6228295,2108798,1389.0
23,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/20/2017,20:00:00,REGULAR,6229118,2108869,1507.0
24,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/21/2017,00:00:00,REGULAR,6229332,2108905,1562.0
25,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/21/2017,04:00:00,REGULAR,6229347,2108906,1562.0
26,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/21/2017,08:00:00,REGULAR,6229394,2109010,1557.0
27,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/21/2017,12:00:00,REGULAR,6229553,2109269,1552.0
28,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/21/2017,16:00:00,REGULAR,6229829,2109341,1534.0
29,A002,R051,02-00-00,59 ST,NQR456W,BMT,06/21/2017,20:00:00,REGULAR,6230582,2109401,1464.0
...,...,...,...,...,...,...,...,...,...,...,...,...
197386,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/19/2017,01:00:00,REGULAR,5554,301,0.0
197387,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/19/2017,05:00:00,REGULAR,5554,301,0.0
197388,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/19/2017,09:00:00,REGULAR,5554,301,0.0
197389,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/19/2017,13:00:00,REGULAR,5554,301,0.0
197390,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/19/2017,17:00:00,REGULAR,5554,301,0.0
197391,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/19/2017,21:00:00,REGULAR,5554,301,0.0
197392,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/20/2017,01:00:00,REGULAR,5554,301,0.0
197393,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/20/2017,05:00:00,REGULAR,5554,301,0.0
197394,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/20/2017,09:00:00,REGULAR,5554,301,0.0
197395,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/20/2017,13:00:00,REGULAR,5554,301,0.0
197396,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/20/2017,17:00:00,REGULAR,5554,301,0.0
197397,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/20/2017,21:00:00,REGULAR,5554,301,0.0
197398,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/21/2017,01:00:00,REGULAR,5554,301,0.0
197399,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/21/2017,05:00:00,REGULAR,5554,301,0.0
197400,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/21/2017,09:00:00,REGULAR,5554,301,0.0
197401,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/21/2017,13:00:00,REGULAR,5554,301,0.0
197402,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/21/2017,17:00:00,REGULAR,5554,301,0.0
197403,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/21/2017,21:00:00,REGULAR,5554,301,0.0
197404,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/22/2017,01:00:00,REGULAR,5554,301,0.0
197405,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/22/2017,05:00:00,REGULAR,5554,301,0.0
197406,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/22/2017,09:00:00,REGULAR,5554,301,0.0
197407,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/22/2017,13:00:00,REGULAR,5554,301,0.0
197408,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/22/2017,17:00:00,REGULAR,5554,301,0.0
197409,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/22/2017,21:00:00,REGULAR,5554,301,0.0
197410,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/23/2017,01:00:00,REGULAR,5554,301,0.0
197411,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/23/2017,05:00:00,REGULAR,5554,301,0.0
197412,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/23/2017,09:00:00,REGULAR,5554,301,0.0
197413,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/23/2017,13:00:00,REGULAR,5554,301,0.0
197414,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/23/2017,17:00:00,REGULAR,5554,301,0.0
197415,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/23/2017,21:00:00,REGULAR,5554,301,0.0

In [54]:
col_groups =df.groupby(['C/A', 'UNIT', 'SCP', 'STATION'])
df['TIMEDIFF_ENTRIES'] = col_groups['ENTRIES'].diff(periods = 6)
df['TIMEDIFF_EXITS'] = col_groups['EXITS'].diff(periods = 6)
df.fillna(value = 0)

dfindex = df.set_index(['C/A', 'UNIT', 'SCP', 'STATION'])
dfindex.head(150)

                           LINENAME DIVISION        DATE      TIME     DESC  \
C/A  UNIT SCP      STATION
A002 R051 02-00-00 59 ST    NQR456W      BMT  06/17/2017  00:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/17/2017  04:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/17/2017  08:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/17/2017  12:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/17/2017  16:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/17/2017  20:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/18/2017  00:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/18/2017  04:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/18/2017  08:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/18/2017  12:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/18/2017  16:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/18/2017  20:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/19/2017  00:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/19/2017  04:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/19/2017  08:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/19/2017  12:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/19/2017  16:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/19/2017  20:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/20/2017  00:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/20/2017  04:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/20/2017  08:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/20/2017  12:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/20/2017  16:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/20/2017  20:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/21/2017  00:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/21/2017  04:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/21/2017  08:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/21/2017  12:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/21/2017  16:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/21/2017  20:00:00  REGULAR
...                             ...      ...         ...       ...      ...
          02-03-00 59 ST    NQR456W      BMT  06/23/2017  00:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/23/2017  04:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/23/2017  08:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/23/2017  12:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/23/2017  16:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/23/2017  20:00:00  REGULAR
          02-03-01 59 ST    NQR456W      BMT  06/17/2017  00:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/17/2017  04:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/17/2017  08:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/17/2017  12:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/17/2017  16:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/17/2017  20:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/18/2017  00:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/18/2017  04:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/18/2017  08:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/18/2017  12:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/18/2017  16:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/18/2017  20:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/19/2017  00:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/19/2017  04:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/19/2017  08:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/19/2017  12:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/19/2017  16:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/19/2017  20:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/20/2017  00:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/20/2017  04:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/20/2017  08:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/20/2017  12:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/20/2017  16:00:00  REGULAR
                   59 ST    NQR456W      BMT  06/20/2017  20:00:00  REGULAR

                            ENTRIES    EXITS  TIMEDIFF_ENTRIES  TIMEDIFF_EXITS
C/A  UNIT SCP      STATION
A002 R051 02-00-00 59 ST    6224816  2107317               NaN             NaN
                   59 ST    6224850  2107322               NaN             NaN
                   59 ST    6224885  2107352               NaN             NaN
                   59 ST    6225005  2107452               NaN             NaN
                   59 ST    6225248  2107513               NaN             NaN
                   59 ST    6225548  2107565               NaN             NaN
                   59 ST    6225716  2107586             900.0           269.0
                   59 ST    6225741  2107590             891.0           268.0
                   59 ST    6225762  2107607             877.0           255.0
                   59 ST    6225879  2107676             874.0           224.0
                   59 ST    6226063  2107714             815.0           201.0
                   59 ST    6226295  2107755             747.0           190.0
                   59 ST    6226407  2107778             691.0           192.0
                   59 ST    6226413  2107779             672.0           189.0
                   59 ST    6226460  2107870             698.0           263.0
                   59 ST    6226625  2108117             746.0           441.0
                   59 ST    6226906  2108190             843.0           476.0
                   59 ST    6227611  2108288            1316.0           533.0
                   59 ST    6227770  2108316            1363.0           538.0
                   59 ST    6227785  2108321            1372.0           542.0
                   59 ST    6227837  2108448            1377.0           578.0
                   59 ST    6228001  2108732            1376.0           615.0
                   59 ST    6228295  2108798            1389.0           608.0
                   59 ST    6229118  2108869            1507.0           581.0
                   59 ST    6229332  2108905            1562.0           589.0
                   59 ST    6229347  2108906            1562.0           585.0
                   59 ST    6229394  2109010            1557.0           562.0
                   59 ST    6229553  2109269            1552.0           537.0
                   59 ST    6229829  2109341            1534.0           543.0
                   59 ST    6230582  2109401            1464.0           532.0
...                             ...      ...               ...             ...
          02-03-00 59 ST     932923  3458742             569.0          2204.0
                   59 ST     932929  3458751             570.0          2204.0
                   59 ST     932938  3459019             568.0          2242.0
                   59 ST     932990  3459774             558.0          2202.0
                   59 ST     933120  3460210             564.0          2287.0
                   59 ST     933393  3460737             573.0          2196.0
          02-03-01 59 ST     325205   522449               NaN             NaN
                   59 ST     325253   522483               NaN             NaN
                   59 ST     325289   522583               NaN             NaN
                   59 ST     325497   522933               NaN             NaN
                   59 ST     325788   523244               NaN             NaN
                   59 ST     326136   523540               NaN             NaN
                   59 ST     326363   523702            1158.0          1253.0
                   59 ST     326400   523740            1147.0          1257.0
                   59 ST     326432   523789            1143.0          1206.0
                   59 ST     326658   524011            1161.0          1078.0
                   59 ST     326916   524262            1128.0          1018.0
                   59 ST     327214   524536            1078.0           996.0
                   59 ST     327388   524695            1025.0           993.0
                   59 ST     327413   524708            1013.0           968.0
                   59 ST     327446   524997            1014.0          1208.0
                   59 ST     327596   525710             938.0          1699.0
                   59 ST     327898   526075             982.0          1813.0
                   59 ST     328392   526688            1178.0          2152.0
                   59 ST     328618   526829            1230.0          2134.0
                   59 ST     328637   526845            1224.0          2137.0
                   59 ST     328687   527195            1241.0          2198.0
                   59 ST     328888   528048            1292.0          2338.0
                   59 ST     329181   528385            1283.0          2310.0
                   59 ST     329807   528922            1415.0          2234.0

[150 rows x 9 columns]

In [62]:
col_groups_ex =dfex.groupby(['C/A', 'UNIT', 'SCP', 'STATION'], )
dfex['TIMEDIFF_ENTRIES'] = col_groups['ENTRIES'].diff(periods = 6)
dfex['TIMEDIFF_EXITS'] = col_groups['EXITS'].diff(periods = 6)
dfex.fillna(value = 0)


dfexindex.iloc[200:300]

ValueError: No axis named SCP for object type <class 'pandas.core.frame.DataFrame'>

In [61]:
dfex['ENTRIES_SUM'] = col_groups_ex['TIMEDIFF_ENTRIES'].sum()

TypeError: incompatible index of inserted column with frame index